* {
  margin: 0;
  padding : 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3a3a3a;
}

#custom_header {
  padding : 10px;
  margin : 10px;
  margin-top: 20px;
  font-size: 40px;
  border-radius: 5px;
  background-color: grey;
  color : white;
  width : 28%;
  text-decoration: none;
  display: block;
}

#custom_header:hover {
  border : none;
  color: black;
}

#contents {
  border-radius: 5px;
  background-color: white;
  width : 80%;
  height : 20%;
}

#categories {
  background-color: white;
  margin : 10px;
  list-style: none;
}

.item {
  background-color: grey;
  width : 20%;
  padding: 5px;
  display : inline-block;
  font-size : 24px;
  margin : 10px;
  border : none;
  border-radius: 5px;
}

.item:hover {
  border : 3px solid black;
  font-weight: 800;
}

.itemlist {
  align-items: center;
  display: inline-block;
  background-color: white;
  list-style: none;
}

.itemimg {
  border-radius: 5px;
  display: inline-block;
  margin : 10px;
  padding : 10px;
  border:3px solid #3a3a3a;
  list-style: none;
  background-color: white;
}

.itemimgs {
  background-color: white;
  margin : 10px;
  list-style: none;
  border-radius: 5px;
  width : 70%;
  height : 20%;
  padding : 10px;
  border-radius: 5px;
}

.iteminfor {
  font-size : 16px;
  background-color: white;
}

.custom_footer {
  width: calc(100% - 35px);
  height: 35px;
  color : white;
  text-align: center;
  font-size: 16px;
  bottom: 5px;
  position: fixed;
  line-height: 35px;
  text-overflow: ellipsis;
}