* {
  font-family: "Jeju Gothic", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

#custom_header {
  padding : 10px;
  margin : 10px;
  font-size: 40px;
  border-radius: 5px;
  border: none;
  background-color: grey;
  color : white;
  width : 28%;
  text-decoration: none;
  display: block;
}

#custom_header:hover {
  border : none;
  color: black;
}

#start_area {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

#start_text {
  display: block;
  position: relative;
  justify-content: center;
  width : calc(33%);
  padding : 30px;
  margin : 20px;
  border : 3px solid grey;
  border-radius: 5px;
}

#login_btn {
  background-color: grey;
  border: 0px;
  border-radius: 5px;
  color : white;
  padding : 10px;
  margin : 10px;
  font-size : 24px;
}

#register_btn {
  background-color: grey;
  border: 0px;
  border-radius: 5px;
  color : white;
  padding : 10px;
  margin : 10px;
  font-size : 24px;
}

#login_btn:hover {
  border : 5px;
  border-color: black;
  color:black;
}
#register_btn:hover {
  border : 5px;
  border-color: black;
  color:black;
}

#id_form {
  padding : 5px;
  width : 80%;
  height : 28px;
  border-radius: 5px;
}

#pw_form {
  padding : 5px;
  width : 80%;
  height : 28px;
  border-radius: 5px;
}

.custom_footer {
  width: calc(100% - 35px);
  height: 35px;
  background-color: white;
  color : black;
  text-align: center;
  font-size: 16px;
  bottom: 5px;
  position: fixed;
  line-height: 35px;
  text-overflow: ellipsis;
}