* {
  font-family: "Jeju Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

#custom_header {
  line-height: 60px;
  padding : 10px;
  margin : 20px;
  font-size: 40px;
  border-radius: 5px;
  border: 3px solid;
  background-color: skyblue;
  color : white;
  width : 15%;
  text-decoration: none;
  display: block;
}

#topMenu {
  width: calc(98%);
  margin: 10px;
}

#topMenu ul li {
  border-radius: 10px;
  border: 3px solid;
  color: white;
  background-color: skyblue;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  float : right;
}

#topMenu .menuLink {
  text-decoration: none;
  color: white;
  display: block;
  width: 160px;
  font-size: 22px;
  font-family: "Jeju Gothic", sans-serif;
}

#topMenu .menuLink:hover {
  border-radius: 10px;
  color: blue;
}

#main_menu {
  float : left;
}

.custom_footer {
  padding: 10px;
  margin: 5px;
  width: calc(100% - 35px);
  height: 35px;
  border-radius: 5px;
  background: skyblue;
  text-align: center;
  color: white;
  font-size: 16px;
  bottom: 5px;
  position: fixed;
  line-height: 35px;
  text-overflow: ellipsis;
}