<!DOCTYPE html>
<html>
  <head>
    <title>Moosinsa clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/earlyaccess/jejugothic.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <center>
      <a id="custom_header" href="../templates/index.html">Moosinsa clone</a>
    </center>
    <div id="start_area">
      <div id="start_text">
        <center style="font-size: 32px;">회원가입 및 로그인</center>
        <br />
        <center>
          <input required placeholder="아이디" id="id_form" />
          <br />
          <br />
          <input required placeholder="비밀번호" id="pw_form" />
          <br />
          <br />
          <button id="register_btn" type="button" onclick="">회원가입</button>
          <button id="login_btn" type="button" onclick="">로그인</button>
        </center>
      </div>
    </div>
    <footer class="custom_footer">
      <p>
        [31538] 충남 아산시 순천향로 22 | COPYRIGHT(C) 윤장원, 이가현. ALL
        RIGHTS RESERVED.
      </p>
    </footer>
  </body>
  <script src="../static/index.js"></script>
</html>
