<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moosinsa clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/earlyaccess/jejugothic.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
  </head>
  <body>
    <py-env>
      import urllib.request
      from urllib.parse import quote_plus
      from bs4 import BeautifulSoup
      from selenium import webdriver
    </py-env>
    <center>
      <a id="custom_header" href="../templates/mainpage.html">Moosinsa clone</a>
    </center>
    <center>
      <div id="contents">
        <ul id="categories">
          <button class="item" id="outer" style="color: white;">아우터</button>
          <button class="item" id="upper" style="color: white;">상의</button>
          <button class="item" id="pants" style="color: white;">하의</button>
          <button class="item" id="shoes" style="color: white;">신발</button>
          <>
        </ul>
        <hr noshade style="
        width : 95%; color:grey;">
        <br />
        <div id="images">원하시는 카테고리를 선택해주세요.</div>
      </div>
    </center>
  </body>
  <footer class="custom_footer">
    <p>
      [31538] 충남 아산시 순천향로 22 | COPYRIGHT(C) 윤장원, 이가현. ALL
      RIGHTS RESERVED.
    </p>
  <py-script output="plot" src="../templates/getimages.py"></py-script>
  <script src="../static/main.js"></script>
</html>
