<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moosinsa clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/earlyaccess/jejugothic.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
  </head>
  <body>
    <center>
      <a id="custom_header" href="../templates/mainpage.html">Moosinsa clone</a>
    </center>
    <center>
      <div id="contents">
        <ul id="categories">
          <button class="item" id="outer" style="color: white;">아우터</button>
          <button class="item" id="upper" style="color: white;">상의</button>
          <button class="item" id="pants" style="color: white;">하의</button>
          <button class="item" id="shoes" style="color: white;">신발</button>
        </ul>
        <hr noshade style="
        width : 95%; color:grey;">
        <br />
        <div id="outerimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
            <li class = "itemimg">
              <img style = "height: 150px;"src="../images/아우터(1).jpg" /><br>
              <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="../images/아우터(2).jpg" /><br>
              <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="../images/아우터(3).jpg" /><br>
              <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="../images/아우터(4).jpg" /><br>
              <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="../images/아우터(5).jpg" /><br>
              <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
                구매하기</a></li>
        </div>
        <div id="upperimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/상의(1).jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/상의(2).jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/상의(3).jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/상의(4).jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/상의(5).jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
        </div>
        <div id="pantsimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/하의(1).jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/하의(2).jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/하의(3).jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/하의(4).jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="../images/하의(5).jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
        </div>
        <div id="shoesimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            
            <img style = "height: 150px;"
            src="../images/신발(1).jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px"src="../images/신발(2).jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;"src="../images/신발(3).jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;"src="../images/신발(4).jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;"src="../images/신발(5).jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
              구매하기</a></li>
        </div>
      </div>
    </center>
  </body>
  <footer class="custom_footer">
    <p>
      [31538] 충남 아산시 순천향로 22 | COPYRIGHT(C) 윤장원, 이가현. ALL
      RIGHTS RESERVED.
    </p>
  <py-script output="plot" src="../templates/getimages.py"></py-script>
  <script src="../static/main.js"></script>
</html>
