<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moosinsa clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/earlyaccess/jejugothic.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
  </head>
  <body>
    <center>
      <a id="custom_header" href="../templates/mainpage.html">Moosinsa clone</a>
    </center>
    <center>
      <div id="contents">
        <ul id="categories">
          <button class="item" id="outer" style="color: white;">아우터</button>
          <button class="item" id="upper" style="color: white;">상의</button>
          <button class="item" id="pants" style="color: white;">하의</button>
          <button class="item" id="shoes" style="color: white;">신발</button>
        </ul>
        <hr noshade style="
        width : 95%; color:grey;">
        <br />
        <div id="outerimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
            <li class = "itemimg">
              <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210722/2037173/2037173_80_125.jpg" /><br>
              <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2037173" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210204/1778404/1778404_1_125.jpg" /><br>
              <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/1778404" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20191001/1173366/1173366_10_125.jpg" /><br>
              <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/1173366" class = "iteminfor">
                구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210722/2037167/2037167_37_125.jpg" /><br>
              <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2037167" class = "iteminfor">
              구매하기</a></li>
            <li class = "itemimg">
              <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210903/2108160/2108160_80_125.jpg" /><br>
              <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2108160" class = "iteminfor">
                구매하기</a></li>
        </div>
        <div id="upperimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20220303/2396645/2396645_4_125.jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2396645" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20200821/1558847/1558847_13_125.jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/1558847" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20220818/2723767/2723767_8_125.jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/2723767" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210825/2086653/2086653_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2086653" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210928/2149254/2149254_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/2149254" class = "iteminfor">
              구매하기</a></li>
        </div>
        <div id="pantsimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210906/2112059/2112059_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2112059" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20201102/1672471/1672471_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/1672471" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20200818/1551840/1551840_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/1551840" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20210105/1736085/1736085_4_125.jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/1736085" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "height: 150px;"src="http://image.msscdn.net/images/goods_img/20190910/1149328/1149328_10_125.jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/1149328" class = "iteminfor">
              구매하기</a></li>
        </div>
        <div id="shoesimages" class = "itemimgs" style = "display : none; background-color: white;">
          <ul class = "itemlist" />
          <li class = "itemimg">
            <img style = "height: 150px;" src="http://image.msscdn.net/images/goods_img/20220901/2762367/2762367_3_125.jpg" /><br>
            <p class = "iteminfor">판매량 1위</p><a href = "https://www.musinsa.com/app/goods/2762367" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px"src="http://image.msscdn.net/images/goods_img/20210826/2091749/2091749_13_125.jpg" /><br>
            <p class = "iteminfor">판매량 2위</p><a href = "https://www.musinsa.com/app/goods/2091749" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;"src="http://image.msscdn.net/images/goods_img/20200306/1339622/1339622_1_125.jpg" /><br>
            <p class = "iteminfor">판매량 3위</p><a href = "https://www.musinsa.com/app/goods/1339622" class = "iteminfor">
              구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;"src="http://image.msscdn.net/images/goods_img/20220901/2762366/2762366_7_125.jpg" /><br>
            <p class = "iteminfor">판매량 4위</p><a href = "https://www.musinsa.com/app/goods/2762366" class = "iteminfor">
            구매하기</a></li>
          <li class = "itemimg">
            <img style = "width : 125px;height: 150px;" src="http://image.msscdn.net/images/goods_img/20200828/1568047/1568047_24_125.jpg" /><br>
            <p class = "iteminfor">판매량 5위</p><a href = "https://www.musinsa.com/app/goods/1568047" class = "iteminfor">
              구매하기</a></li>
        </div>
      </div>
    </center>
  </body>
  <footer class="custom_footer">
    <p>
      [31538] 충남 아산시 순천향로 22 | COPYRIGHT(C) 윤장원, 이가현. ALL
      RIGHTS RESERVED.
    </p>
  <script src="../static/main.js"></script>
</html>
